<h3>Logged in as <%= @user.email %></h3>

<table>
  <tr>
    <td>Wallet Address</td>
    <td>
      <% if @user.wallet_address %>
        <%= @user.wallet_address %>
      <% else %>
        TODO: link to generate an address
      <% end %>
    </td>
    <td><em>Send BTC to this address <%= !@user.auto_buy_sell_enabled? ? " and enable auto-trading to get started" : " to get started" %></em></td>
  </tr>
  <tr>
    <td>BTC value</td>
    <td><%= number_with_precision(@user.wallet_btc, precision: 10) %></td>
    <td></td>
  </tr>
  <tr>
    <td>USD value</td>
    <td><%= number_to_currency(@user.wallet_usd) %></td>
    <td></td>
  </tr>
</table>
